#email {
    color: #9FADB6;
    text-transform: none;
}

#email:hover, #email:focus {
    color: #D6BA00;
}

#logo {
    font-variant: small-caps;
    font-size: 40px;
    line-height: 40px;
    color: white;
}

.captionContainer p {
    text-transform: none;
}

#top p {
    text-align: justify;
}

#footer {
    padding-bottom: 0;
}

body {
    font: 16px/19px 'PT Sans',Arial,sans-serif
}

@media only screen and (max-width: 479px) {
    #logo {
        font-size: 26px;
        line-height: 26px;
    }

    #logo img {
        width: 20px;
        height: auto;
    }
}