#email {
    color: #9FADB6;
    text-transform: none;
}

#email:hover, #email:focus {
    color: #D6BA00;
}

#logo {
    font-size: 40px;
    line-height: 40px;
    color: white;
}

.captionContainer p {
    text-transform: none;
}


@media only screen and (max-width: 479px) {
    #logo {
        font-size: 26px;
        line-height: 26px;
    }

    #logo img {
        width: 20px;
        height: auto;
    }
}